<div class="sheet">
  <div class="title_area">
      <h3>{{page_title}}</h3>
  </div>
</div>

<div class="out-sheet">
  <div class="sheet">
    <br />
    <br />

    <h4>DEMO</h4>
    <br />
    <p></p>
    <br />
    <br />

    <div style="text-align:center">
      <video width="1000" controls>
        <source src="videos/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> 
    </div>
    <br />
    <br />

    <h4>SCREENSHOTS</h4>
    <br />
<!--
    <p>Dashboard</p>
    <div style="text-align:center">
      <img src="./images/screenshots/dashboard.png" alt="Dashboard" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
    <p>Documentation</p>
    <div style="text-align:center">
      <img src="./images/screenshots/documentation.png" alt="Documentation" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
    <p>Network</p>
    <div style="text-align:center">
      <img src="./images/screenshots/network.png" alt="Network" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
-->
    <p>Pipeline 1 - Analysis of Variability of Haploid / Diploid samples from BAM files</p>
    <div style="text-align:center">
      <img src="./images/screenshots/pipeline_1.png" alt="Pipeline 1" style="margin: 20px 30px 20px 0px" width="100%" />
    </div>
    <br />
    <br />
    <p>Pipeline 2 - Analysis of Variability of Haploid / Diploid samples from GVCF files</p>
    <div style="text-align:center">
      <img src="./images/screenshots/pipeline_2.png" alt="Pipeline 2" style="margin: 20px 30px 20px 0px" width="100%" />
    </div>
    <br />
    <br />
    <p>Pipeline 3.A - Analysis of Variability of Haploid / Diploid samples using pooled data from BAM files</p>
    <div style="text-align:center">
      <img src="./images/screenshots/pipeline_3A.png" alt="Pipeline 3-A" style="margin: 20px 30px 20px 0px" width="100%" />
    </div>
    <br />
    <br />
    <p>Pipeline 3.B - Analysis of Variability of Haploid / Diploid samples using pooled data from BAM files</p>
    <div style="text-align:center">
      <img src="./images/screenshots/pipeline_3B.png" alt="Pipeline 3-B" style="margin: 20px 30px 20px 0px" width="100%" />
    </div>
<!--
    <br />
    <br />
    <p>Outputs - Boxplot</p>
    <div style="text-align:center">
      <img src="./images/screenshots/plots_boxplot.png" alt="Boxplot" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
    <p>Outputs - Plots</p>
    <div style="text-align:center">
      <img src="./images/screenshots/plots_chart.png" alt="Chart" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
    <p>Outputs - Console</p>
    <div style="text-align:center">
      <img src="./images/screenshots/plots_console.png" alt="Console" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
    <p>Outputs - R Export</p>
    <div style="text-align:center">
      <img src="./images/screenshots/plots_r_export.png" alt="RExport" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
-->
  </div>
</div>

