<div class="sheet">
  <div class="title_area">
      <h3>{{page_title}}</h3>
  </div>
</div>

<div class="out-sheet">
  <div class="sheet" style="min-height: 700px;">

    <br />
    <br />

    <h4>&lt;Some text here&gt;</h4>
    <p>
      &lt;Some text here&gt;
    </p>

    <br />

    <div style="width:350px;margin:10px;" ng-repeat="command in commands">
      <div class="button_ico_big" style="width:150px;" ng-click="goTo(command.name)">
        {{command.name}}
      </div>
    </div>

  </div>
</div>

