<div class="sheet">
  <div class="title_area">
      <h3>{{page_title}}</h3>
  </div>
</div>

<div class="out-sheet">
  <div class="sheet" id="sheet_downloads">
    <br />

<!--
    <h4></h4>
    <p>Download the computational solution for performing next generation analysis of sequence polymorphisms using NGS data:</p>
    <br />
    
    <div style="width:100%;"  >
        <div class="button_ico_big" style="width:170px">
          <a href="https://bioinformatics.cragenomica.es/projects/ngaSP/downloads/index.php" target="_blank">
            <img src="./images/ngasp.svg" alt="ngasp" style="width:80px;padding-top:10px;" />
            <br />
            Download <span class="glyphicon glyphicon-download-alt"></span>
            <br />
          </a>
        </div>
    </div>
-->
<!--
 <img src="./images/ngasp.svg" alt="ngasp" style="width:150px;padding-top:10px;">
-->

    <h4><img src="./images/ngasp.svg" alt="ngasp" style="width:80px;padding-top:10px;" /></h4>
    <br />

    <table class="table" style="border: 0px">
<!--
      <thead>
      <tr>
	      <th width="40%">TOOL NAME</th>
	      <th>DESCRIPTION</th>
      </tr>
      </thead>
-->
      <tbody>
    		<tr class="table_row">
		      <td width="40%" style="border: 0px"><br />Download the computational solution for performing<br />next generation analysis of sequence polymorphisms<br />using NGS data<br /><br /><a href="https://bioinformatics.cragenomica.es/projects/ngaSP/downloads/index.php">Older releases...</a></td>
		      <td style="border: 0px">
                <div class="button_ico_big" style="width:170px;margin: 0px;">
                  <a href="https://bioinformatics.cragenomica.es/projects/ngaSP/downloads/binaries/ngasp_release_MP.zip" target="_blank">
<!--
                      
                    <br />
-->
                    <span class="glyphicon glyphicon-download-alt" style="font-size: 95%;top:3px"></span> Download 
   <!--                 <br /> -->
                  </a>
                </div>
              </td>
	      </tr>
      </tbody>
    </table>


    <br />
    <br />

    <h4>External Tools</h4>
    <span>Tools integrated in the ngaSP computational solution.</span>
    <br />
    <br />

    <table class="table" style="border: 1px solid #eee">
      <thead>
      <tr>
	      <th width="40%">TOOL NAME</th>
	      <th>DESCRIPTION</th>
      </tr>
      </thead>
      <tbody>
    		<tr class="table_row">
		      <td><a href="https://bioinformatics.cragenomica.es/projects/ghcaller/index.php" target="_blank">GH Caller</a></td>
		      <td>Call SNPs and estimate frequencies using Roesti (2012) algorithm.</td>
	      </tr>
    		<tr class="table_row">
		      <td><a href="external_tools/fastaconvtr.zip" target="_blank">fastaconvtr</a></td>
		      <td>Conversion from fasta to tfasta files.</td>
	      </tr>
    		<tr class="table_row">
		      <td><a href="external_tools/collect_data_columns.zip" target="_blank">collect_data_columns.pl</a></td>
		      <td>Script that select a number of statistics for posterior analysis.</td>
	      </tr>
      </tbody>
    </table>


    <br />
    <br />

    <h4>External Software Related</h4>
    <span>Packages developed by other teams that are considered fundamental and/or complement the ngasp computational solution.</span>
    <br />
    <br />

    <table class="table" style="border: 1px solid #eee">
      <thead>
      <tr>
	      <th width="40%">SOFTWARE NAME</th>
	      <th>DESCRIPTION</th>
      </tr>
      </thead>
      <tbody>
    		<tr class="table_row">
		      <td><a href="http://www.ub.edu/dnasp/" target="_blank">DnaSP</a></td>
		      <td>DNA Sequence Polymorphisms<br /><br />DnaSP, DNA Sequence Polymorphism, is a software package for the analysis of nucleotide polymorphism from aligned DNA sequence data. DnaSP can estimate several measures of DNA sequence variation within and between populations (in noncoding, synonymous or nonsynonymous sites, or in various sorts of codon positions), as well as linkage disequilibrium, recombination, gene flow and gene conversion parameters. DnaSP can also carry out several tests of neutrality: Hudson, Kreitman and Aguadé (1987), Tajima (1989), McDonald and Kreitman (1991), Fu and Li (1993), and Fu (1997) tests. Additionally, DnaSP can estimate the confidence intervals of some test-statistics by the coalescent. The results of the analyses are displayed on tabular and graphic form.
            <br /><br />Link: <a href="http://www.ub.edu/dnasp/" target="_blank">http://www.ub.edu/dnasp</a>
          </td>
	      </tr>
    		<tr class="table_row">
		      <td><a href="https://github.com/ANGSD/angsd" target="_blank">ANGSD</a></td>
		      <td>Program for Analysis of NGS data<br /><br />ANGSD is a software for analyzing next generation sequencing data. The software can handle a number of different input types from mapped reads to imputed genotype probabilities. Most methods take genotype uncertainty into account instead of basing the analysis on called genotypes. This is especially useful for low and medium depth data. The software is written in C++ and has been used on large sample sizes.
            <br /><br />Link: <a href="https://github.com/ANGSD/angsd" target="_blank">https://github.com/ANGSD/angsd</a>
          </td>
	      </tr>
    		<tr class="table_row">
		      <td><a href="https://cran.r-project.org/web/packages/PopGenome/index.html" target="_blank">PopGenome</a></td>
		      <td>Population Genome Analysis<br /><br />An Efficient Swiss Army Knife for Population Genomic Analyses. Provides efficient tools for population genomics data analysis, able to process individual loci, large sets of loci, or whole genomes. PopGenome not only implements a wide range of population genetics statistics, but also facilitates the easy implementation of new algorithms by other researchers. PopGenome is optimized for speed via the seamless integration of C code.
            <br /><br />Link: <a href="https://cran.r-project.org/web/packages/PopGenome/index.html" target="_blank">https://cran.r-project.org/web/packages/PopGenome/index.html</a>
          </td>
	      </tr>
    		<tr class="table_row">
		      <td><a href="https://github.com/lucaferretti/npstat" target="_blank">NPstats</a></td>
		      <td>NGS Analysis for Pooled data<br /><br />Population genetics tests and estimators for pooled NGS data. This code implements some population genetics tests and estimators that can be applied to pooled sequences from Next Generation Sequencing experiments. The statistics are described in the paper "Population genomics from pool sequencing" by L. Ferretti, S.E. Ramos-Onsins and M. Perez-Enciso, Molecular Ecology (2013), DOI: 10.1111/mec.12522.
            <br /><br />Link: <a href="https://github.com/lucaferretti/npstat" target="_blank">https://github.com/lucaferretti/npstat</a>
          </td>
	      </tr>

    		<tr class="table_row">
		      <td><a href="https://github.com/brunonevado/vcf2fas" target="_blank">VCF2FAS</a></td>
		      <td>Converts VCF file(s) to fasta format.
            <br /><br />Link: <a href="https://github.com/brunonevado/vcf2fas" target="_blank">https://github.com/brunonevado/vcf2fas</a>
          </td>
	      </tr>

      </tbody>
    </table>


    <br />
    <br />
  </div>
</div>

