<!-- do not set the controller here because it is in the $stateProvider -->

<div id='intro_header'>
  <h1><img src="./images/ngasp_white.svg" alt="ngasp" style="width:160px;padding-top:10px;" /></h1>
  <h4>next generation analysis of sequence polymorphisms</h4>
</div>

<div id="home_content" class="sheet">
  <div class="title_area"><h1></h1></div>





<!--
        <div class="col-lg-10 col-sm-10 customer-logos-wrapper">
            <ul class="nav nav-pills" style="width:50%;margin: 0 auto;">
              <li><a href="http://www.cragenomica.es/" target-blank><img src="./images/logo_crag.png" alt="crag" ng-mouseover="customer_description='Center for Research in Agricultural Genomics.'" /></a></li>
              <li><a href="http://agaur.gencat.cat/" target-blank><img src="./images/logo_agaur.png" alt="agaur" ng-mouseover="customer_description='Agència de Gestió d`Ajuts Universitaris i de Recerca.'" /></a></li>
              <li><a href="http://economia.gencat.cat/" target-blank><img src="./images/logo_generalitat.png" alt="generalitat" ng-mouseover=\"customer_description='Generalitat de Catalunya. Departament d'Economia i Coneixement.\"" /></a></li>
              <li><a href="http://www.mineco.gob.es/portal/site/mineco/idi" target-blank><img src="./images/logo_ministerio.png" alt="ministerio" ng-mouseover="customer_description='Ministerio de España. Ministerio de Economía y Competitividad.'" /></a></li>
              <li><a href="http://ec.europa.eu/regional_policy/es/funding/erdf/" target-blank><img src="./images/logo_europa.png" alt="europa" ng-mouseover="customer_description='Unión Europea. Fondo europeo de Desarrollo Regional.'" /></a></li>
            </ul>

        </div>
-->
  <div class="container">
    <div class="row">
      <div class="col col-lg-6 col-sm-12 overview-left">
        <div class="overview-section">
          <h2>
            Computational solution for performing next generation analysis of sequence polymorphisms using NGS data.
          </h2>
          <p>
            ngasp has been designed to calculate statistics analysis related to genome variability from NGS input data like genomes or exomes of individuals or even pooled data of population subsets. It will provide a series of analyses of importance to animal geneticists like tests to detect evidence of selection, differentiation, etc. It is foreseen that, in the future, can also accommodate phenotype data as soon as new analysis are developed and incorporated to ngasp.
          </p>
          <p>
            This software is conceived to be used by different end-users, not only by specialists in the field but also by researchers interested in more common analyses (e.g., estimating variability). Other  participants of this project, with user profiles like statisticians, tool developers or performance engineers are also better integrated easing the methods used to incorporate their contributions. As a result, ngasp will be able to read and represent graphically multiple input data formats, calculate a growing number of combined statistics, conveniently adjusted with a wide number of filters and options chosen by the user and output the results selecting between different tables and/or graphs, with varying degree of detail.

            <div style="width:350px">
              <div class="button_ico" style="width:170px; float:left" ng-click="goTo('how_to_use')">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>HOW IT WORKS
              </div>
              <div class="button_ico" style="width:170px; float:right" ng-click="goTo('downloads')">
                <span class="glyphicon glyphicon-circle-arrow-down"></span>GET THE SOFTWARE
              </div>
            </div>

          </p>
        </div>
      </div>
      <div class="col col-lg-6 col-sm-12 overview-right">
        <img src="./images/app.svg" alt="app" style="width:100%;padding-top:10px;" />
      </div>
    </div>
  </div>
  <br />
  <br />
</div>



  <div class="customers-row">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <h2>Powered by</h2>
          <br />
          <br />
        </div>

        <div class="col-lg-12 col-sm-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-1 col-sm-12 customer">
                <a href="http://www.cragenomica.es/" target-blank><img src="./images/logo_crag.png" alt="crag" ng-mouseover="SetCustomerDescription('crag')" /></a>
              </div>
              <div class="col-lg-1 col-sm-12 customer">
                <a href="http://agaur.gencat.cat/" target-blank><img src="./images/logo_agaur.png" alt="agaur" ng-mouseover="SetCustomerDescription('agaur')" /></a>
              </div>
              <div class="col-lg-1 col-sm-12 customer">
                <a href="http://economia.gencat.cat/" target-blank><img src="./images/logo_generalitat.png" alt="generalitat" ng-mouseover="SetCustomerDescription('generalitat')" /></a>
              </div>
              <div class="col-lg-1 col-sm-12 customer">
                <a href="http://www.mineco.gob.es/portal/site/mineco/idi" target-blank><img src="./images/logo_ministerio.png" alt="ministerio" ng-mouseover="SetCustomerDescription('ministerio')" /></a>
              </div>
              <div class="col-lg-1 col-sm-12 customer">
                <a href="http://ec.europa.eu/regional_policy/es/funding/erdf/" target-blank><img src="./images/logo_europa.png" alt="europa" ng-mouseover="SetCustomerDescription('europa')" /></a>
              </div>
          </div>
        </div>

        <div class="col-lg-12 col-sm-12">
          <div class="customers-description">
            <p class="change-description">{{customer_description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>



<!--
  <div style="width:100%; text-align: right;"><img src="./images/all_logos.png" alt="all logos" style="margin: 20px 30px 20px 0px" /></div>
-->

