<div class="sheet">
  <div class="title_area">
      <h3>{{page_title}}</h3>
  </div>
</div>

<div class="out-sheet">
  <div class="sheet">
    <br />
    <br />

    <h4>Pipeline 1 : Analysis of Variability of Diploid samples from BAM files</h4>
    <br />
    <p>The number of SNPs and their frequencies are estimated using Roesti (2012) algorithm to avoid biases in the analysis. A number of population genetics statistics are computed for desired regions. Sliding window analysis are performed and results are tabulated and plotted in files.</p>
    <br />
    <br />

<!--
    <h4>Pipeline 2 : Descriptive analysis of genome variability from gVCF data files in diploid data</h4>
    <p>The already defined SNPs and frequencies are used to compute a number of population genetics statistics. Sliding window analysis are performed and results are tabulated and plotted in files.</p>
    <br />
    <br />

    <h4>Pipeline 3 : Descriptive analysis of genome variability from BAM data files in polled data</h4>
    <p>The number of SNPs and their frequencies are estimated using a new algorithm to avoid biases in the analysis (to be published). A number of population genetics statistics are computed for desired regions. Sliding window analysis are performed and results are tabulated and plotted in files. </p>
    <br />
    <br />

    <h4>Pipeline 4 : Descriptive analysis of genome variability from BAM data files in polled data</h4>
    <p>NPstats application (Ferretti et al. 2013) is used to directly compute population genetics statistics for total and for functional regions. Sliding window analysis are performed and results are tabulated and plotted in files. </p>
    <br />
    <br />
-->


    <div style="text-align:center">
      <img src="./images/pipeline.svg" alt="pipeline" style="margin: 20px 30px 20px 0px" />
    </div>
    <br />
    <br />
  </div>
</div>

