<div class="sheet">
  <div class="title_area">
      <h3>{{page_title}}</h3>
  </div>
</div>

<div class="out-sheet">
  <div class="sheet">
    <br />

    <h4>Working Plan</h4>
    <br />
    <p>
      The project ngasp started as a concept around 2012 and includes expert collaborators in diverse fields of expertise. It is led by Sebastian E. Ramos-Onsins and Gonzalo Vera and counts with the cooperation, among others, of Prof. Julio Rozas (Universitat de Barcelona, Biologist) and Prof. Porfidio Hernandez (UAB, Computer Engineering). The collaboration of scientists from different fields (computer scientists, population geneticists and biologists) increases the probabilities of achieving a useful software. 
    </p>
    <br />
    <p>
      The initial working plan has been designed considering four main objectives that ngasp must fulfil:
    </p>
    <br />
    <p>
      <ul>
        <li><strong>Functionality:</strong> Current and New analytical methods must be available from ngasp.</li>
        <li><strong>Qualtity:</strong> A high degree of production quality is required to avoid bugs and ensure worry-free experiences using ngasp.</li>
        <li><strong>Usability:</strong> The solution must provide the right user interface to our users, no matter their level of expertise.</li>
        <li><strong>Performance:</strong> Processing NGS data is increasingly demanding more and more computer power. ngasp must be built with performance in mind.</li>
      </ul>
    </p>
    <br />
    <br />
    <h4>Project Phases</h4>
    <br />
    <p>
      The working plan has several phases: architectural design, development of analytical methods, implementation of core code, numerical testing, graphical interface, and optimization. Here we emphasize significant developments: 
    </p>
    <br />
      <ul>
        <li><strong>Architectural design:</strong> This phase was already performed and financed with the Spanish MICINN project CGL2009-09346).</li>
        <li><strong>Analytical methods:</strong> Several methods has been already achieved (e.g, Ferretti et al., 2012; Raineri et al., 2012) and others are being implemented and tested.</li>
        <li><strong>Core code:</strong> This phase consists in the implementation of the main structural components and the merge and coordinated integration of the algorithms and analytical methods. This program will be, initially, used as a command-line application. At this moment, the core code (in C++) is already implemented. </li>
        <li><strong>Graphical interface:</strong> This is fundamental for a software to become widely used. Therefore, ngasp will be extended with a GUI (graphical user interface). Nowadays the GUI is partially developed and will be available soon.</li>
        <li><strong>Optimization:</strong> The solution is designed to be used not only from a single workstation, but also integrating the computer power of multiple servers from a large cluster. We started delivering the first release with support for a single computer and we will extend its capabilities with technologies like parallelization to optimize its performance.</li>
      </ul>
    </p>

    <br />
    <br />
  </div>
</div>
