<div class="sheet">
    <div class="title_area">
      <h3>{{page_title}}</h3>
    </div>
</div>

<div class="out-sheet">
  <div id="sheet_team" class="sheet" style="min-height: 700px;">
    <br />
    <br />
    <br />

    <h4>The Team</h4>
    <br />
    <p>This is a multidisciplinar team where population geneticist, computer enginners, theoretical physicist, bioinformatics and molecular biologist are interacting to develop ngasp software. The team is coordinated from the CRAG centre and collaborates with a number of different institutions. The project is funded by the Ministerio de Economia y Competitividad (MEC, Spain).</p>
    <p>We are focused in making an efficient and user friendly plattform to  estimate accurately the levels and patterns of variation from different NGS datasets (haploid, diploid, pooled data) at populations.</p>

    <br />

    <div ng-repeat="team_member in team" class="row">
      <div class="col-lg-1 col-xs-1"></div>
      <div class="col-lg-10 col-xs-10">
        <div class="thumbnail shadow_mouse_over">
              <div style="display: inline-block;margin-left:25px;">
                <img src="images/{{team_member.picture}}" alt="{{team_member.name}}">
              </div>

              <div style="display: inline-block;margin-left:5px; padding-left:25px;border-left:2px solid #c9d3a3;">
                <h4 style="">{{team_member.name}}</h4>

                <ul>
                  <li ng-show='team_member.title.length > 0'>{{team_member.title}}</li>
                  <li ng-show='team_member.program.length > 0'>{{team_member.program}}</li>
                  <li ng-show='team_member.dept.length > 0'>{{team_member.dept}}</li>
                  <li ng-show='team_member.where.length > 0'>{{team_member.where}}</li>
                  <li ng-show='team_member.group.length > 0'>{{team_member.group}}</li>
                  <li ng-show='team_member.room.length > 0'>{{team_member.room}}</li>
                  <li ng-show='team_member.adress.length > 0'>{{team_member.adress}} | {{team_member.country}}</li>
                  <li><span class="obfuscate">{{GetEmailName(team_member.email)}}<span>null</span>@<span>null</span>{{GetEmailDomain(team_member.email)}}<span>null</span>{{GetEmailExtension(team_member.email)}}</span></li>
                </ul>
              </div>
            <div>
      </div>
      <div class="col-lg-1 col-xs-1"></div>

    </div>

  </div>
</div>







            <!-- Acordion -->
            <!--
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="panel{{$index}}">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne{{$index}}" 
                           href="#collapseOne{{$index}}">
                          Contact info...
                        </a>
                      </h3>
                    </div>
                    <div id="collapseOne{{$index}}" class="panel-collapse collapse ">
                      <div class="panel-body">

                          <ul>
                            <li><span ng-show="false" class="team_member_tag">Title:</span> {{team_member.title}}<br />{{team_member.where}}</li>
                            <li><span ng-show="false" class="team_member_tag">Dept.:</span> {{team_member.dept}}</li>
                            <li><span ng-show="false" class="team_member_tag">Group:</span> {{team_member.group}}</li>
                            <li><span ng-show="false" class="team_member_tag">Room:</span> {{team_member.room}}</li>
                            <li><span ng-show="false" class="team_member_tag">Adress:</span> {{team_member.adress}}<br />{{team_member.country}}</li>
                            <li><span ng-show="false" class="team_member_tag">Phone:</span> {{team_member.phone}}</li>
                            <li><span ng-show="false" class="team_member_tag">e-mail:</span> {{team_member.email}}</li>
                          </ul>

                      </div>
                    </div>
                </div>
            </div>
            -->
            <!-- Acordion -->

