<div class="sheet">
	<br /><br /><br /><br />

	<!-- Alerts -->
	<alerts></alerts>

	<!-- do not set the controller here because it is in the $stateProvider -->

  <div class="container-fluid">
    <div class="row spacer">
       	<div class="company_title_1_font window_padding">Downloads</div>
    </div>

    <div class="row spacer">
	    <div class="col-md-12 graph_box company_background_window_color">
		    <div class="graph_title_bar">
			    <div class="graph_title_bar_buttons">
				    <span class="glyphicon glyphicon-refresh graph_refresh cursor_hand" ng-click="OnRefreshClientsList()"></span>
			    </div>
			    <span class="company_title_2_font">Downloads</span><br />
			    <span class="company_title_3_font">List of tools</span>
		    </div>

        <div class="table-responsive">
		      <table class="table col-sm-12">
		        <thead>
			      <tr>
				      <th>NAME</th>
			      </tr>
		        </thead>
			      <tbody>
	        		<tr class="table_row">
					      <td><a href="https://bioinformatics.cragenomica.es/projects/ngaSP/downloads/index.php" target="_blank">ngaSP</a></td>
				      </tr>
	        		<tr class="table_row">
					      <td><a href="https://bioinformatics.cragenomica.es/projects/ghcaller/index.php" target="_blank">GH Caller</a></td>
				      </tr>
	        		<tr class="table_row">
					      <td><a href="external_tools/fastaconvtr.zip" target="_blank">fastaconvtr</a></td>
				      </tr>
	        		<tr class="table_row">
					      <td><a href="external_tools/collect_data_columns.zip" target="_blank">collect_data_columns.pl</a></td>
				      </tr>
			      </tbody>
		      </table>
        </div>

	    </div>
    </div>

  </div>

</div>

<br />
<br />
