examples/100Kchr10.fa filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_fa2ms_15.ms.txt_npops3_nsam84_nonsynonymous_max_ExcludeMissingmhits_outg_ploidy2_WEIGHTS.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_fa2tfa_08.tfa_npops2_nsam42_nonsynonymous_max_IncludeMissingVariantsmhits_outg_ploidy1_WEIGHTS.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10.gtf filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_npop1_nsam42_ExcludeMissingVariantsmhits_NOoutg_MASK.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_npop2_nsam42_ExcludeMissingVariantsmhits_NOoutg_MASK.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_npop2_nsam42_nonsynonymous_max_IncludeMissingVariantsmhits_outg_MASK.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_simulation1000.ms.txt.zip filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_simulation.ms.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10.tfa filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_tfa2ms_02.ms.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_tfa2ms_03.ms.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_tfa2ms_06.ms.txt filter=lfs diff=lfs merge=lfs -text
examples/100Kchr10_tfa2ms_07.ms.txt filter=lfs diff=lfs merge=lfs -text
examples/10bpchr10.tfa filter=lfs diff=lfs merge=lfs -text
examples/coord_100Kb.txt filter=lfs diff=lfs merge=lfs -text
examples/MC1R.gff filter=lfs diff=lfs merge=lfs -text
examples/MC1R_H1frq.txt filter=lfs diff=lfs merge=lfs -text
examples/MC1R_PigsOutg_aligned.fas filter=lfs diff=lfs merge=lfs -text
./develop/webapp/bin/ngasp filter=lfs diff=lfs merge=lfs -text
