[Desktop Entry]
Type=Application
Name=ngasp
Exec=/bin/bash -c 'cd "$(dirname %k)" && /data/github/ngasp-workshop01/runme.sh'
Icon=/data/github/ngasp-workshop01/media/ngasp_01.png
Name[es_ES]=ngasp
