<div class="modal-header company_background_menu_color" >
    <span class="modal-title caption_font">Pipeline Properties</span>
</div>

<div class="modal-body default_font">
        <div class="row">
            <div class="col col-md-3"><span class="form_label_font">Name:</span></div>
            <div class="col col-md-9"><input type="text" class="form-control" ng-model="properties.name" placeholder="Enter name" /></div>
        </div>
        <div class="row spacer_small">
            <div class="col col-md-3"><span class="form_label_font">Author/s:</span></div>
            <div class="col col-md-9"><input type="text" class="form-control" ng-model="properties.email" placeholder="Enter author/s" /></div> <!-- email -->
        </div>
<!--
        <div class="row spacer_small">
            <div class="col col-md-3"><span class="form_label_font">Date:</span></div>
            <div class="col col-md-9"><input type="date" class="form-control" ng-model="properties.date" placeholder="Enter date" /></div>
        </div>
-->
        <div class="row spacer_small">
            <div class="col col-md-3"><span class="form_label_font">Description:</span></div>
            <div class="col col-md-9"><input type="text" class="form-control" ng-model="properties.description" placeholder="Enter description" /></div>
        </div>
        <div class="row spacer_small">
            <div class="col col-md-3"><span class="form_label_font">Inputs:</span></div>
            <div class="col col-md-9"><input type="text" class="form-control" ng-model="properties.inputs" placeholder="Enter inputs description" /></div>
        </div>
        <div class="row spacer_small">
            <div class="col col-md-3"><span class="form_label_font">Outputs:</span></div>
            <div class="col col-md-9"><input type="text" class="form-control" ng-model="properties.outputs" placeholder="Enter outputs description" /></div>
        </div>
</div>

<div class="modal-footer">
    <button class="btn default_button_color button_font" type="button" ng-click="OnOk()">Save</button>
    <button class="btn default_button_color button_font" type="button" ng-click="OnCancel()">Cancel</button>
</div>



