<div class="modal-header company_background_menu_color">
    <span class="modal-title form_title_font">Chart</span>
</div>

<div class="modal-body default_font" style="width:400px; height:400px">
    {{message}}
    <!-- <div ng-init="init()">  -->
    <div signature-pad id="signature-pad">
        <canvas id="canvas_chart" width="400px" height="400px"></canvas>
    </div>
</div>

<div class="modal-footer">
    <button class="btn default_button_color button_font" type="button" ng-click="OnOk()">OK</button>
    <button class="btn default_button_color button_font" type="button" ng-click="OnCancel()">Cancel</button>
</div>



