<div class="sheet">
	<br /><br /><br /><br />

	<!-- Alerts -->
	<alerts></alerts>

	<!-- do not set the controller here because it is in the $stateProvider -->

  <div class="container-fluid">
    <div class="row spacer">
       	<div class="company_title_1_font window_padding">Progress</div>
    </div>

    <div class="paragraph_font">
        Up to know we have a tool that reads fasta/tfasta format and GTF annotation files and calculates a number of  statistics of variability and neutrality tests for a given specific annotated regions and using sliding windows or specific regions of the genome. 
    </div>

  </div>

</div>

<br />
<br />

