	<!-- do not set the controller here because it is in the $stateProvider -->
        <script src="./bower_components/raphael/raphael.js"></script>


<div class="sheet" style="background-color:white;">
	<br /><br /><br /><br />

        <div id="welcome"></div>


        <div class="paragraph_font">
            <b>Computational solution for performing next generation analysis of Sequence Polymorphisms.</b>
            <br />
            <br />
            ngasp has been designed to calculate statistics analysis related to genome variability from NGS input data like genomes or exomes of individuals or even pooled data of population subsets. It will provide a series of analyses of importance to animal geneticists like tests to detect evidence of selection, differentiation, etc. It is foreseen that, in the future, can also accommodate phenotype data as soon as new analysis are developed and incorporated to ngasp.
            <br />
            <br />
            This software is conceived to be used by different end-users, not only by specialists in the field but also by researchers interested in more common analyses (e.g., estimating variability). Other participants of this project, with user profiles like statisticians, tool developers or performance engineers are also better integrated easing the methods used to incorporate their contributions. As a result, ngasp will be able to read and represent graphically multiple input data formats, calculate a growing number of combined statistics, conveniently adjusted with a wide number of filters and options chosen by the user and output the results selecting between different tables and/or graphs, with varying degree of detail

<!--
            ngaSP is a software package designed for performing analysis of Sequence Polymorphisms.
            <br />
            <br />
            ngaSP is a software application designed to calculate statistics analysis related to genome variability from NGS input data of genomes, exomes..., individuals but also pooled data. It will provide a series of analyses of importance to animal geneticists like tests to detect evidence of selection, differentiation, etc. It is foreseen that, in the future, can also accommodate phenotype data. This software is conceived to be used not only by specialists in the field but also by researchers interested in more trivial analyses (e.g., estimating variability). ngaSP will be able to read and represent graphically the input data, calculate statistics using a number of filters chosen by the user and output the results in tables and/or graphs with varying degree of detail.
            <br />
            <br />
            The project ngaSP started as a concept around 2012 and includes expert collaborators in diverse fields of expertise. It is led by Sebastian E. Ramos-Onsins and Gonzalo Vera and counts with the cooperation, among others, of Prof. Julio Rozas (Universitat de Barcelona, Biologist) and Prof. Porfidio Hernandez (UAB, Computer Enginnering). The collaboration of scientists from different fields (computer scientists, population geneticists and biologists) increases the probabilities of achieving a useful software.
            <br />
            <br />
            The working plan has several phases: architectural design, development of analytical methods, implementation of core code, numerical testing, graphical interface, and optimization. Here we emphasize significant developments:
            <br />
            <br />
            Architectural design: This phase was already performed  and financed with the Spanish MICINN project CGL2009-09346)
            <br />
            <br />
            Analytical methods: Several methods has been already achieved (e.g, Ferretti et al., 2012; Raineri et al., 2012) and others are being implemented.
            <br />
            <br />
            Core code: This phase consists in the implementation of the main structural components and the merge and coordinated integration of the algorithms and analytical methods. This program will be, initially, used as a command-line application. At this moment, the core code (in C++) is already implemented.
            <br />
            <br />
            Graphical interface: This is fundamental for a software to become widely used. Therefore, ngaSP will be extended with a GUI (graphical user interface). Nowadays the GUI is partially developed and will be available soon.
-->
        </div>
        <div style="width:100%; text-align: right;"><img src="./images/all_logos.png" alt="all logos" style="margin: 20px 30px 20px 0px" /></div>
        <br />
        <br />
</script>
</div>


